<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark pt-0">
  <div class="container p-0">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <ul class="navbar-nav me-auto mb-0 ">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#">Latests</a>
      </li>

    </ul>



    <div class="btn-group">
      <!--Profile-->
      <div class="dropdown">
    <a class="nav-link ms-auto right-dropdown right-nav" href="#" id="navbarDropdown1" type="button" data-bs-toggle="dropdown"
       aria-expanded="false">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
           alt="" loading="lazy" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>

      <li>
        <a class="dropdown-item" href="#">Something else here</a>
      </li>
    </ul>
    </div>
      <!--Conservation-->
      <div class="dropdown">
        <a class="nav-link ms-auto right-dropdown right-nav" href="#" id="navbarDropdown1" type="button" data-bs-toggle="dropdown"
           aria-expanded="false">
        <i class="fa fa-envelope"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>


      <!--Notification-->
      <div class="dropdown">
        <a class="nav-link ms-auto me-3 right-dropdown right-nav" href="#" id="navbarDropdown1" type="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="fa fa-bell"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>




    </div>

    <!--Search-->
    <div class="btn-group">
      <div class="right-dropdown">
        <a class="search-nav shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i  class="fa fa-search"></i>
          Search
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <!--            Search Button-->
          <div class="input-group">
            <div class="form-outline" data-mdb-input-init>
              <input type="search" id="form1" class="form-control" />
              <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
              <i class="fa fa-search"></i>
            </button>
          </div>


        </ul>
      </div>
    </div>

  </div>

</nav>
<!-- Navbar -->
